<div class="box">
  <img [src]="item.productImage" height="200px" width="200px" />
  <h2>{{ item.productName | uppercase }}</h2>
  <h3>Brand: {{ item.brandName }}</h3>
  <div [appReadMore]="showMore">
    <p>
      {{ item.productDescription }}
    </p>
    <a (click)="toggleShowMore()" class="showMoreClass">{{
      showMore ? "Show Less" : "Show More"
    }}</a>
  </div>

  <h3>Price: {{ item.productPrice | currency: "INR" }}</h3>
  <div class="button">
    <a (click)="removeItem()">Remove Product</a>
  </div>
</div>
